@import url('https://fonts.googleapis.com/css?family=Roboto');

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: rgba(0, 0, 0, 0.08);
}

#stock-header {
  margin-left: 16px;
  padding-top: 16px;
  text-align: left;
}

#stock {
  width: 100%;
  height: auto;
  margin-top: 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
}

#index {
  margin-left: 16px;
  margin-top: 24px;
  padding-bottom: 8px;
  border-radius: 8px;
  background-color: #fff59d;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  width: calc(100% - 24px);
  height: auto;
}

#index-menu {
  padding-top: 8px;
  margin-left: 16px;
  text-align: left;
}

#info-base {
  margin-bottom: 16px;
}

.row {
  margin-right: 0 !important;
}

.base-modal {
  background-color: #fafafa;
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.chartdiv {
  width: calc(100% - 16px);
  height: calc(50vw * 0.5125);
  margin: 16px 16px 16px 0;
}

.dropdown-menu  {
  min-width: 0 !important;
  top: 80% !important;
}

.info {
  text-align: left;
  font-size: 18px;
}

.info-amount {
  font-size: 14px;
}

.form-group {
  margin-bottom: 0;
}

.btn {
  border-radius: 8px;
  width: 100%;
  font-size: 18px;
  background-color: #fdfdfd;
  margin-bottom: 16px;
  color: #424242;
}

a.main-menu {
  color: #373737;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

a.sub-menu {
  margin-left: 16px;
  color: #636363;
  font-size: 14px;
  cursor: pointer;
  display: block;
}

.bold-text {
  font-weight: bold;
}

.modal-content {
  width: 100%;
  border: none !important;
  padding-top: 8px;
  padding-bottom: 16px;
}

.form-group {
  padding-top: 8px;
  text-align: left;
}

.margin-top {
  margin-top: 16px;
}

.modal-header {
  background-color: #ffc400;
}

.cautions {
  text-align: left;
  font-size: 24px;
  margin-bottom: 24px;
}

.remove-padding {
  padding: 0 8px;
}

.close {
  cursor: pointer;
}

.stock-navbar {
  background-color: #ffc400;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
}

a.nav-link {
  color: #424242 !important;
  text-decoration: none;
}

.next-day {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 16px;
  padding-left: 16px;
  height: 40px;
  width: 120px;
  background-color: #ffc400;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next-day-button {
  font-size: 16px;
  font-weight: bold;
}

.next-day-button:hover {
  text-decoration: none;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.symbol {
  font-size: 24px;
  display: inline;
  margin-right: 4px;
}

.fullname {
  font-size: 16px;
  display: inline;
}
